/**********GENERAL***********/
html {
    font-size: 62.50%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    background-color: #ddd;
}

*, *::before, *::after {                    /*a tutti gli elementi e pseudo elementi dico di ereditare (inherit) il box sizing dal genitore*/
    box-sizing: inherit;
}

/**********HEADER***********/
.screen-reader-only{
    display:none;
}

header{
    margin: 0;
    position: sticky;
}

.newsLetterBanner{
    background-color: black;
    padding: 10px 15px;
}

.newsLetterBanner p {
    margin: 0 0 0 5px;
    color: white;
    font-weight: 700;
}

#newsLetterBtn {
    background: none;
    border: none;
    position: absolute;
    top: 2px;
    right: 15px;
    height: 20px;
    cursor: pointer;
}

#newsCloseIcon {
    color: white;
    height: 25px;
}

/**********NAVBAR***********/

.navigation {
    background-color: white;
    display: flex;
    align-items: center;
}

.navigationIcon {
    padding: 10px;
}

.navBtn {
    background: none;
    border: none;
    height: 20px;
    color: black;
}

.logo-container {
    border: 1px dashed black;
    padding: 5px;
    margin: 0 auto;
}

/**********MAIN***********/

/**********HERO***********/
.hero-container {
    background-image: url("/img/jeremy-bezanger-0QgbyZdhX7k-unsplash.webp");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}

.heroBanner {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.heroBanner h1 {
    font-size: 4rem;
    margin: 0;
}

.heroBanner p {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.heroBanner h2 a {
    text-transform: uppercase;
    font-weight:700;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroBanner svg {
    height: 20px;
}

/**********CARD***********/
.card-container {
    margin-top: 30px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.card-media {
    height: 300px;
    overflow: hidden;
}

.card-media img {
    width: 100%;
}

.card-text {
    background-color: white;
    padding: 20px;
}

.card-text p:first-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}

.card-text h2 {
    font-size:3.2rem;
    margin-top: 0;
}

.card-text p:nth-child(3),
.card-text p:nth-child(4) {
    font-size: 1.6rem;
    font-weight:400;
}

.cardBtn {
    background-color: black;
    border: none;
    height: 48px;
    width: 170px;
}

.cardBtn a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.cardBtn svg {
    height: 25px;
}

/**********FOOTER***********/
/**********FORM***********/

.info{
    background-color: white;
    padding: 20px;
}

.info h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

.info input {
    width: 100%;
    height: 40px;
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}


.inputBtn svg {
    height: 20px;
}

.inputBtn {
    background-color: #9D9D9D;
    color: white;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 10px 20px;
}

.info p {
    color: #9D9D9D;

}
.form {
    margin-bottom: 20px;
}

/**********ACCORDION***********/

.accordionBtn {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #F5F5F5;
    }

.accordion h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
}
.accordion svg{
    margin-right: 10px;
}

/**********SOCIAL***********/

.social {
    background-color: white;
}

.social h2 {
    margin: 0;
    padding: 30px 20px 5px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}

.social ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px 0px 50px 0px;
    margin: 0;
}

.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerBanner {
    background-color: black;
    padding: 10px;
}

.footerBanner p {
    color: #F5F5F5;
    text-align: center;
    margin: 0;
    font-weight: 400;
}

.footerBanner a {
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 700;
}
.footerBannerText {
    margin: 20px 0 40px 0;
}














