/**********GENERAL***********/
html {
    font-size: 62.50%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    background-color: #ddd;
}

*, *::before, *::after {                    /*a tutti gli elementi e pseudo elementi dico di ereditare (inherit) il box sizing dal genitore*/
    box-sizing: inherit;
}

/**********HEADER***********/
.screen-reader-only{
    display:none;
}

header{
    margin: 0;
    position: sticky;
}

.newsLetterBanner{
    background-color: black;
    padding: 10px 15px;
}

.newsLetterBanner p {
    margin: 0 0 0 5px;
    color: white;
    font-weight: 700;
}

#newsLetterBtn {
    background: none;
    border: none;
    position: absolute;
    top: 2px;
    right: 15px;
    height: 20px;
    cursor: pointer;
}

#newsCloseIcon {
    color: white;
    height: 25px;
}

/**********NAVBAR***********/

.navigation {
    background-color: white;
    display: flex;
    align-items: center;
}

.navigationIcon {
    padding: 10px;
}

.navBtn {
    background: none;
    border: none;
    height: 20px;
    color: black;
}

.logo-container {
    border: 1px dashed black;
    padding: 5px;
    margin: 0 auto;
}

/**********MAIN***********/

/**********HERO***********/
.hero-container {
    background-image: url("/img/jeremy-bezanger-0QgbyZdhX7k-unsplash.webp");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}

.heroBanner {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.heroBanner h1 {
    font-size: 4rem;
    margin: 0;
}

.heroBanner p {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.heroBanner h3 a {
    text-transform: uppercase;
    font-weight:700;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroBanner svg {
    height: 20px;
}

/**********CARD***********/
.card-container {
    margin-top: 30px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.card-media {
    height: 300px;
    overflow: hidden;
}

.card-media img {
    width: 100%;
}

.card-text {
    background-color: white;
    padding: 20px;
}

.card-text p:first-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}

.card-text h2 {
    font-size:3.2rem;
    margin-top: 0;
}

.card-text p:nth-child(3),
.card-text p:nth-child(4) {
    font-size: 1.6rem;
    font-weight:400;
}

.cardBtn {
    background-color: black;
    border: none;
    height: 48px;
    width: 170px;
}

.cardBtn a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.cardBtn svg {
    height: 25px;
}














