$text-color_white: white;
$text-color_black: black;
$text-color_grey: #9D9D9D;
$text-color_white_dirty: #F5F5F5;

$font-roboto: 'Roboto', sans-serif;

$background-color_body: #f5f5f5;
$background-color_main: white;
$background-color_black: black;
$background-color_grey: #9D9D9D;
$background-color_white_dirty: #F5F5F5;

//Bootstrap custom style
/*$custom-colors: (
  "dirty-white": #f5f5f5
);
@debug $theme-colors;
$theme-colors: map-merge($theme-colors, $custom-colors);
@debug $theme-colors;*/