$text-color_white: white;
$text-color_black: black;
$text-color_grey: #9D9D9D;
$text-color_white_dirty: #F5F5F5;


$font-roboto: 'Roboto', sans-serif;


$background-color_body: #e5e5e5;
$background-color_main: white;
$background-color_black: black;
$background-color_grey: #9D9D9D;
$background-color_white_dirty: #F5F5F5;