.card {
    background-color: $background-color_white_dirty;
}

.gridBtn4 {
    cursor: pointer;
}

.gridBtn6 {
    cursor: pointer;
}


.card-media {
    position: relative;
}

.tagNew {
    position: absolute;
    top: 4%;
    left: 4%;

}

.favoriteIcon {
    position: absolute;
    top: 4%;
    left: 88%;
}

.numberIcon {
    position: absolute;
    top: 88%;
    left: 4%;
}

.numProducts {
    display: none;
}

.gridIcons {
    display: none;
}