.imgIcons {
    position: absolute;

    .tagNew {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .favouriteIcon {
        position: absolute;
        top: 5px;
        left: 130px;
    }

    .numberIcon {
        position: absolute;
        top: 145px;
        left: 5px;
    }
}