body {
    background-color: $background-color_main;
}


.breadcrumbContainer {
    display: none;

}

.grid {
    display: none;
}

.card-body-sp {
    padding: 20px;
    background-color: $background-color_white_dirty;

    h2 {
        margin: 0;
    }

    .card-text-sp {
        margin: 0px 0px 10px;
    }

    .priceSp {
        font-size: 1.5rem;
        font-weight: 700;

        .delPriceSp {
            margin: 0 5px 0 5px;
            text-decoration: line-through;
            font-weight: 400;
        }
    }

    .addCartBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        color: $text-color_white;
        background-color: $background-color_black;
        width: 100%;
        padding: 10px;

        svg {
            margin-left: 10px;
        }
    }
}

.accordionSingleProduct {
    margin: 30px 0 30px 0;
}


.swal2-confirm {
    background: black;
    color: white;
    border: 0;
    border-radius: 0.5rem;
    padding: 5px;
    width: 80px;
}

.swiperSp {
    position: relative;
}

.tagNewSp {
    position: absolute;
    top: 2%;
    left: 4%;
    z-index: 100;
}

.favoriteSp {
    position: absolute;
    z-index: 100;
    top: 2%;
    right: 4%;
}

.swiperService {
    background-color: $background-color_white_dirty;

    svg {
        padding: 40px 0 20px 0;
    }
}