.breadcrumbContainer {
    display: block;
    padding: 10px;
}

.tagNewSp {
    display: none;
}

.favoriteSp {
    display: none;
}

.breadcrumb {
    li {
        list-style: none;
        display: inline-block;

        a {
            text-decoration: none;
            color: black;
            font-weight: 700;
        }
    }
}

.carouselSp {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 325px;

    .grid-item {
        img {
            max-height: 325px;
        }
    }

    .grid-item-text {
        width: 33vw;

        .body-sp {
            padding: 0px 0px 0 30px;

            h2 {
                margin: 0;
                font-size: 2rem;
            }

            .text-sp {
                margin: 0 0 10px;
                font-size: 1.2rem;
            }

            .priceSp {
                font-weight: 700;
                font-size: 1.4rem;
            }

            .delPriceSp {
                margin: 0 5px 0 5px;
                text-decoration: line-through;
                font-weight: 400;
            }

        }

        .addCartBtn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0;
            color: $text-color_white;
            background-color: $background-color_black;
            width: 100%;
            padding: 10px;
            margin-top: 35px;

            svg {
                margin-left: 10px;
            }
        }

    }
}

.card-body-sp {
    display: none;
}

.accordionSingleProduct {
    width: 60vw;
    padding: 0px 0 0 40px;

}