.breadcrumbContainer {
    display: block;
}

.tagSp {
    display: none;
}

.favoriteSp {
    display: none;
}

.breadcrumb {
    li {
        list-style: none;
        display: inline-block;

        a {
            text-decoration: none;
            color: black;
            font-weight: 700;

            svg {
                position: absolute;
                left: 2%;
                top: 12.15%;
            }
        }
    }
}

.carouselSp {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 325px;

    .grid-item {
        img {
            max-height: 325px;
        }
    }
}