.breadcrumbContainer {
    display: block;
}

.tagSp {
    display: none;
}

.favoriteSp {
    display: none;
}

.breadcrumb {
    li {
        a {
            text-decoration: none;
            color: black;
            font-weight: 700;
        }
    }
}

.carousel {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 325px;

    .grid-item {
        img {
            max-height: 325px;
        }
    }
}